@import "tailwindcss";

@theme {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-inter bg-yellow-50 text-gray-900;
}

.no-print {
  @media print {
    display: none !important;
  }
}

.print-only {
  display: none !important;
  @media print {
    display: block !important;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full hover:bg-gray-400 transition-colors;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
